body{
  min-width: 300px;
  max-width: 1400px;
  background-image: url(../img/background/5421859-watercolor-background-missouri-state-teachers-association-watercolor-background-1920_1100_preview.png);
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: center;
}

.headerContainer{
  display: flex;
  background-color: black;
  color: white;
  font-family: sans-serif;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-grow: 0.5;
  text-align: center;
  font-size: 1em;
  text-align: left;
}
.heading{
  font-family: 'Nerko One', cursive;
 padding: 10px;
 text-align: right;
 font-weight: 500;
 font-size: 2em;
  
}
.naviContainer{
  align-self: center;
/*   margin-top: 10px;
 */}
li{
  
  display: inline-block;
  
  
}
.naviLink{
  text-decoration: none;
  width: 100px;
  color: white;
  padding: 10px;
}
.buttonContact{
  border:1px solid white;
  padding: 10px;
/*   align-self: flex-end;
 */  margin-top: 10px;
 text-align: center;
}